* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
    text-align: center;
}

html, body {
    background-color: black;
}

.game {
    width: 100%;
}

.title {
    font-size: 30px;
    padding: 5px;
}

.control button {
    font-size: 24px;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.control button:hover {
    background-color: #111;
}

.player img {
    width: 150px;
    height: 150px;;
}

.player i {
    font-size: 150px;
}