* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #eee
}

html, body {
    background-color: black;
}

h2.title {
    padding: 5px;
    text-align: center;
    color: aliceblue;
}

#game {
    background-color: #111;
}

#screen {
    cursor: pointer;
}

#screen, #info {
    display: inline-block;
}

#undo {
    background-color: #333;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#undo:hover {
    background-color: #000;
}

#luotdi {
    padding: 0;
    font-size: 150px;
}